body {
    background-color: black;
}

.texto-inicial1 {
    font-size: 29px;
    color: aliceblue;
    text-align: center;
}

.all-texto-inicial {
    text-align: center;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgMoeda img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    position: absolute;
    top: 20%;
    right: 20px; 
}
