body {
    background-color: rgb(0, 0, 0);
}

.texto-inicial1 {
    font-size: 29px;
    color: aliceblue;
    text-align: center;
}

.all-texto-inicial {
    text-align: center;
    margin: 270px 590px 0 10px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgMoeda img {
    width: 800px;
    height: 800px;
    object-fit: contain;
    position: absolute;
    top: 6%;
    right: 20px; 
}





