body{
    background-color: black;
}

.texto-inicial1{
    font-size: 29px;
    color: aliceblue;
}



.all-texto-inicial{
    text-align: center;
    margin-top: 360px;
 margin-right: 550px;
 
}


   


.imgMoeda {
    background: url("../assets/img-moeda.png");
    width: 400px;
    height:400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;  /* Define a posição absoluta */
    top: 50%;  /* Centraliza verticalmente */
    right: 10px;  /* Ajusta a posição para a direita */
    transform: translateY(-50%); /* Ajusta o centro exato */
}
