.container {
    background: linear-gradient(to bottom, #000, #272042);
    min-height: 100vh;
    color: white;
    padding: 2rem;
  }
  
  
  .title span {
    color: #791475;
  }
  
  header {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
  }
  
  .backArrow {
    position: absolute;
    left: 50px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .perfil{
    display: flex;
    justify-content: end;
  }
  
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .floatingAd {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: auto;
    z-index: 1000;
    border: 0.5px solid #1b1b1b;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .floatingAd img {
    width: 400px;
    height: auto;
    cursor: pointer;
    display: block;
  }
  
  .floatingAd .closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    line-height: 0px;
    font-size: 16px;

    display: flex;
    align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  transform: translate(50%, -50%);
  }

  .loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #b12092;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  