/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  background-image: linear-gradient(135deg, #000000, #1f1133, #000000);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  animation: bgShift 10s ease infinite;
}

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
    cursor: pointer;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 24px;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.nav:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 8px #362c5b;
}

.cadastroButton {
  background: linear-gradient(135deg, #3f025b, #b12092);
  color: #fff;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 20px;
}

.cadastroButton:hover {
  color: #fff;
  box-shadow: 0 0 10px #110e1d;
  transform: scale(1.05);
}

/* Seção Moeda + Navbar */
.navbar-img-moeda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  animation: fadeInUp 1.2s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.content {
  margin: 0;
}

.content h1 {
  font-size: 80px;
  color: #e4dfdfeb;
  margin-bottom: 50px;
}

.content p {
  display: flex;
  text-align: start;
  font-size: 40px;
  color: #fff;
  margin-top: 0;
}

.moeda-image {
  width: 400px;
  height: auto;
  animation: girar 10s linear infinite;
  transform-style: preserve-3d;
}

@keyframes girar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Frase Inspiradora */
.frase {
  text-align: center;
  padding: 40px 20px;
  color: #fff;
}

.frase h2 {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 500;
  font-size: 60px;
  margin: 70px 0;
  animation: fadeInUp 1.2s ease forwards;
  opacity: 0;
}

.frase p {
  font-family: 'Inconsolata', sans-serif;
  font-size: 45px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ebebeb;
}

/* Plataforma de Cursos */
.plataformaCursos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 98px;
  color: #fff;
}

.plataformaCursos h2 {
  font-weight: 500;
  font-size: 40px;
  margin: 70px 0;
  text-align: center;
}

.plataformaCursos .highlight {
  color: #b12092;
  font-size: 40px;
}

.plataformaCursosContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 30px;
}

.plataformaCursosCard {
  width: 300px;
  height: 320px;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 0 12px #3f025b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
              linear-gradient(135deg, #3f025b, #b12092) border-box;
  border: 3px solid transparent;
  transition: transform 0.3s ease;
}

.plataformaCursosCard:hover {
  transform: scale(1.03);
}

.plataformaCursosCardIcon img {
  width: 200px;
  height: 150px;
  margin: 0 auto 20px;
}

.plataformaCursosCard h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.plataformaCursosCard p {
  font-size: 16px;
  color: #e0e0e0;
  line-height: 1.5;
  margin: 0 auto;
}

/* Simulador */
.simulador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 200px 0 0 28px;
  color: #fff;
}

.simuladorTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.simulador h2 {
  font-weight: 500;
  font-size: 100px;
  margin: 0;
}

.simulador h2 span {
  color: #b12092;
}

.simulador p {
  font-size: 30px;
  margin: 10px;
  color: #b2b2b2;
}

.simuladorButton {
  margin-top: 50px;
  background: linear-gradient(135deg, #3f025b, #b12092);
  color: #fff;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 20px;
  margin-left: 36%;
}

.simuladorImage {
  width: 470px;
  margin-right: 50px;
}

