
.page {
  min-height: 100vh;
  background-color: #f5f7fa;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #000, #272042);
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.voltarHome{
    cursor: pointer;
  }

  .voltarHome img {
    margin-top: 20px;
    margin-left: 25px;
    width: 110px;
    height: 70px;
  }


.title a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ece6e6eb;
}

.highlight {
  font-size: 2.5rem;
  color: #861888;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #fff;
}

.subtitle {
  margin-top: 80px;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ece6e6eb;
  font-weight: 500;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.videoContainer {
  flex: 1;
  min-width: 560px;
}

.videoContainer iframe {
  width: 100%;
  height: 315px;
  border-radius: 8px;
}

.pdfContainer {
  flex: 1;
  min-width: 250px;
}

.pdfContainer h3 {
  margin-bottom: 10px;
  color: #fff;
}

.pdfContainer ul {
  list-style: none;
  padding: 0;
}

.pdfContainer li {
  margin-bottom: 10px;
}

.pdfContainer a {
  text-decoration: none;
  color: #6a646c;
  font-weight: 500;
  transition: color 0.3s;
}

.pdfContainer a:hover {
  color: #a51ea0;
}

.error {
  margin-top: 100px;
  text-align: center;
  color: red;
  font-size: 1.5rem;
}

.simulatorLinkContainer {
  margin-top: 50px;
  text-align: center;
}

.simulatorLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: #791475;
  color: white;
  text-decoration: none;
  border-radius: 24px;
  font-weight: 500;
  margin-right: 25px;
}

.simulatorLink:hover {
  background-color: #590e56;
}
