/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container principal centralizado */
.container {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* Container do perfil */
.profileContainer {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto;
}

/* Título */
.title {
    font-size: 2rem;
    font-weight: bold;
    color: #b12092;
    margin-bottom: 1.5rem;
}

/* Texto dos parágrafos */
p {
    color: #fff;
}

/* Nome e Bio */
.name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #000;
}

.bio {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

/* Seção do nível */
.levelSection {
    margin-top: 1rem;
}

.levelTitle {
    font-size: 1.2rem;
    color: #3f025b;
    margin: 0;
}

/* Agrupamento dos botões e link */
.buttonGroup {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

/* Estilização compartilhada para botão e link */
.button,
.link {
    text-decoration: none;
    background: linear-gradient(90deg, #3f025b, #b12092);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover para botão e link */
.button:hover,
.link:hover {
    background: linear-gradient(90deg, #b12092, #3f025b);
}

/* Caso queira um estilo diferenciado para o botão de cancelar */
.cancelButton {
    background: #ccc;
    color: black;
}

/* Formulário */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Inputs */
.input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.textarea {
    resize: vertical;
}

