* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(to bottom, #000000, #272042 );
    height: 100vh;
}

header {
    background-color: transparent;
   
}

.logo {
    display: flex;
    justify-content: start;
    height: 20px;
    width: 20px;
}

.navbar{
color: aliceblue;
display: flex;
justify-content: end;
margin: 0px;
gap: 15px;
padding: 26px;
}

.link {
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 26px;
}

.link:hover {
    color: #482252;
    cursor: pointer;
    transition: all 0.5s;
}

.buttonGradient {
    font-size: 26px;
    padding: 10px;
    border-radius: 11px;
    color: aliceblue;
    background: linear-gradient(to left, #b12092, #3f025b);
}

.imgMoeda {
    margin-right: 100px;
}
