.logo {
    background: url("../NavBar/logo.png");
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 70%;


}

.navbar{
color: aliceblue;
display: block;
}
    