.container {
    background: linear-gradient(to bottom, #000, #272042);
    min-height: 100vh;
    color: white;
    padding: 2rem;
  }
  
  .title span {
    color: #791475;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
  }
  
  .backArrow {
    position: absolute;
    left: 50px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }