.card {
  background-color: #1211267b;
  border-radius: 12px;
  overflow: hidden;
  width: 380px;
  height: 300px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.card:hover {

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.completed {
  background-color: #1e1d40;
}

.info {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}


.info h3 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  width: 100%;
  margin-left: 25px;
  margin-top: 10px;
}


.info p {
  font-size: 15px;
  line-height: 1.4;
  color: #d1d1e0;
  max-width: 90%;
  text-align: start;
  margin-top: 30px;
  margin-left: 0;
}

button {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 30px;
  width: 200px;
  margin-top: auto; 
  margin-bottom: 30px;
  align-self: center; 
}

.locked {
  pointer-events: none;
}
