

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(38, 10, 42, 0.063); /* Melhorar contraste */
  backdrop-filter: blur(10px); /* Efeito de vidro opcional */
  position: fixed; /* <-- Torna a navbar fixa no topo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 24px 24px; /* Arredonda apenas a parte de baixo */
}


.logo {
  cursor: pointer;
}

/* Navegação */
.navLinks {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Links */
.nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 12px;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.nav:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 8px #80789a;
}

/* Botão Cadastre-se */
.cadastroButton {
  background: linear-gradient(135deg, #3f025b, #b12092);
  color: #fff;
  height: 48px;
  font-size: 18px;
  border: none;
  border-radius: 24px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cadastroButton:hover {
  color: #fff;
  box-shadow: 0 0 10px #110e1d;
  transform: scale(1.05);
}
 
