.container {
    padding: 20px;
    position: relative;
}

.toggleDropdown {
  border: none; /* Remove a borda padrão do botão */
  padding: 0; /* Remove o padding padrão do botão */
  cursor: pointer;
  display: flex; /* Para alinhar a imagem */
  width: 0; /* Largura automática para se ajustar ao conteúdo */;
}

.dropdownHeader .toggleh2 {
    color: #fff;
}

.dropdownHeader {
    margin-right: 30px;
}

.profileContainer {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto;
    /* Ajuste a largura conforme necessário */
    position: absolute;
    /* Adicionado: Remove do fluxo normal do documento, permitindo sobreposição. */
    top: 100%;
    /* Adicionado: Posiciona a parte superior do dropdown abaixo da parte inferior do container pai. */
    right: 0;
    /* Adicionado: Alinha a borda direita do dropdown com a borda direita do container pai. Você pode usar 'left: 0;' se preferir alinhar à esquerda. */
    z-index: 10; /* Adicionado: Garante que o dropdown fique acima de outros elementos. */
}


.name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #000;
}

.bio {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
}

.levelSection {
    margin-top: 1rem;
}

.levelTitle {
    font-size: 1.2rem;
    color: #3f025b;
    margin: 0;
}

.btnEdit {
    background: linear-gradient(90deg, #3f025b, #b12092);
    color: white; /* Adicionado: Cor do texto para melhor contraste. */
}