.page {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #000, #272042, #000);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.title {
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.corTitulo{
  color: #b12092;

}

.link {
  text-decoration: none;
  color: inherit;
 
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;

}

.formAndChartContainer {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}


.simulatorForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 650px;
  gap: 15px;
  border: 4px solid transparent;
  border-radius: 30px;
  background:
  linear-gradient(#000, #000) padding-box,
  linear-gradient(to right,  #3f025b, #b12092) border-box;
}

.simulatorForm label {
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
}

.simulatorForm select {
  margin-top: 8px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #000;
  color: #fff;
}


.simulatorForm input {
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #555;
  height: 60px;
  max-width: 100%;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  transition: border-color 0.3s ease;
}


.simulatorForm input::placeholder {
  color: #fff;
}


.simulatorForm button {
  padding: 12px;
  height: 50px;
  color: #fff;
  background: linear-gradient(to right, #3f025b, #b12092);
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s ease;
}

.simulatorForm button:hover {
  background: linear-gradient(to right, #3f025b, #b12092);
}

.simulationResult {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: #fff;
}


.chartContainer {
  flex-grow: 1;
  max-width: 90%;
  max-height: 650px;
  padding: 20px;
  box-shadow: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 4px solid transparent;
  border-radius: 30px;
  background:
  linear-gradient(#000, #000) padding-box,
  linear-gradient(to right,  #3f025b, #b12092) border-box;
}

.chartContainer svg .chart-line {
  stroke: #3f025b;
}

.selicText {
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 66px;
  color: #bb86fc;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .formContainer {
    width: 100%;
    max-width: 400px;
  }

  .chartContainer {
    width: 100%;
    max-width: 600px;
  }
}

.riskText {
  color: #fff;
}